# Dependencies
node_modules/
/.pnp
.pnp.js

# Next.js & React build outputs
.next/
out/
dist/
dist-ssr/
build/
!**/src/main/**/build/
!**/src/test/**/build/

# Maven & Java build outputs
target/
!**/src/main/**/target/
!**/src/test/**/target/
*.class
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
.mvn/wrapper/maven-wrapper.jar

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Environment files
.env*.local
.env

# IDE and OS files
.DS_Store
Thumbs.db
.idea/
*.iws
*.iml
*.ipr
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
.vscode/*
!.vscode/extensions.json
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
